.gradient {
    display: inline-block;
    font-size: 100px;
    font-family: italic arial,microsoft yahei,sans-serif;
    background-image: -webkit-gradient(linear, left center, right center, from(rgba(176, 31, 184, 1)), to(rgba(255, 89, 76, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vertical-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}